.backGroundColorFooter{
    padding: 100px 0px;
    font-family: Verdana;
    background-color: var(--my-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  opacity: 0.9;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.titleLoginAndRegister{
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.form > a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #8b80f9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
}

.form > a:hover {
  background: #8b80f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,
    0 0 100px #8b80f9;
}

.form > a span {
  position: absolute;
  display: block;
}

.form > a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #8b80f9);
  animation: animacaoBotao1 1s linear infinite;
}
@keyframes animacaoBotao1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.form > a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #8b80f9);
  animation: animacaoBotao2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animacaoBotao2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.form a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #8b80f9);
  animation: animacaoBotao3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animacaoBotao3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.form > a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #8b80f9);
  animation: animacaoBotao4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animacaoBotao4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  cursor: pointer;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
