.Sliederlab{
    width: 100%;
    max-width: 100%;
    height: 700px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.Sliederlab-list{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 1s linear;
}
.Sliederlab-list img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.Sliederlab-btn{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.Sliederlab-btn button{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100vh;
    font-size: 20px;
    background-color: #fff5;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.Sliederlab-dots{
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: #fff;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.Sliederlab-dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 100vh;
    cursor: pointer;
}
.Sliederlab-dots li.Sliederlab-dots_active{
    width: 30px;
}

