/* TITLE */
.title h3{
    color: #666666;
    font-size: 14px;
    line-height: 22.4px;
    margin: 10px 0px 20px;
    padding-left: 10px;
}
/* CATEGORY */
.Category li{
    display: list-item;
    font-family: Roboto;
    font-size: 14px;
    line-height: 25.2px;
    padding: 10px 0px 10px 20px;
    text-align: left;
    transition: all 0.2s linear;
}
.Category:hover li:not(:hover){
    opacity: 0.3;
}
.selec{
    background-color: var(--my-color);
    padding: 10px 20px;
}
.Category li + li{
    border-top: 2px solid #a0a0a0;
}
.Category li a{
    font-size: 14px;
    font-weight: 700;
    line-height: 25.2px;
    text-transform: uppercase;
    color: black;
}
/* NABAR PRODUCT */
.navbar-product{
    display: flex;
}
.navbar-product__btn{
    display: flex;
}
.navbar-product__btn-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #bbcce4;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
   }
   
   .navbar-product__btn-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--my-color);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   .navbar-product__btn-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   .navbar-product__btn-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    color: #111111;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: auto;
    transition: all 0.3s ease-in-out;
   }
   
   .navbar-product__btn-button:hover span {
    z-index: 1;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }